/*1280分辨率以上（大于1200px）*/
@media screen and (min-width:1200px){
}

/*1100分辨率（大于960px，小于1199px）*/
@media screen and (min-width: 960px) and (max-width: 1199px) {
   .progress {
      color: green;
  }
}

/*880分辨率（大于768px，小于959px）*/
@media screen and (min-width: 800px) and (max-width: 1400px) {
  div.ablum {
      width:26.65rem;
      height:19.69rem;
      margin:-9.845rem -13.325rem;
  }
}

/*720分辨率（大于480px，小于767px）*/
@media only screen and (min-width: 480px) and (max-width: 767px){
}

/*440分辨率以下（小于479px）*/
@media only screen and (max-width: 479px) {
}
